{% extends 'base.html.twig' %}

{% block title %}L’article choisis en détail {% endblock %}

{% block body %}
<style>
  .example-wrapper {margin: 1rem;}
  .date {color: red; font-weight: bold;}
</style>

    <div class="example-wrapper">
      <h1> {{ article.titre }}! </h1>
      <p>{{article.contenu}}</p>
      <h4>Vote {{ article.votesString}}!  </h4>
        <form action="{{ path('article_vote', { id: article.id }) }}" method="POST">
          <div class="vote-arrows vote-arrows-alt flex-fill pt-2" style="min-width: 90px;">
              <button class="vote-up btn btn-link" name="direction" value="up"><i class="far fa-arrow-alt-circle-up"></i></button>
              <button class="vote-down btn btn-link" name="direction" value="down"><i class="far fa-arrow-alt-circle-down"></i></button>
              <span>{{ article.VotesString }}</span>
          </div>
        </form>


      {% if article.contenu|trim is empty %}
      <p>content not exist</p>
      {% endif %}
      <p class="date">{{ article.DateCreation|date("d/m/Y") }}</p>
        
    </div>
{% endblock %}